.pass-container{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 8rem;
}

.create-new-pass {
    display: flex;
    font-family: Proxima Nova Soft, sans-serif;
    font-style: bold;
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    color: #092963;
    padding: 2rem 0 1.5rem 0;
}

.vl-logo {
    display: flex;
}

.pass-char {
    display: flex;
    font-family: Proxima Nova Soft, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #092963;
    font-style: bold;
    opacity: 0.6;
}

.pass-form {
    display: flex;
    flex-direction: column;
}

.pass-form-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.reset-btn{
    background-color: #EE5C4D;
    border: none;
    outline: none;
    padding: 0.3rem 0;
    border-radius: 6px;
}

.reset-pass-text{
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    font-style: bold;
}