.registration {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #092963;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 634px;
  left: 660px;
  top: 223px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.forgotpassword {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.logo {
  margin-top: 20%;
}

.forgot {
  height: 35px;
  left: 43.65%;
  right: 43.59%;
  margin-top: 7%;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  /* identical to box height, or 109% */

  text-align: center;
  color: #092963;
}
.forgot-desc {
  margin-top: 5%;
}
.send-button {
  margin-top: 10%;
  margin-left: 5%;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  height: 44px;
  width: 91%;
  color: white;
  outline: none;
  border: none;
  background: #ee5c4d;
  border-radius: 6px;
  font-family: "Proxima Nova Soft";
}
