.login-container {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    padding: 3.5rem 7rem;
    flex-direction: column;
    border-radius: 4px;
}

.login-form {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.logo-img {
    display: flex;
    padding: 0 2.5rem 1rem 2.5rem;
}

.form-log {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 2rem 0;
    
    /* padding-top: 2rem; */
}

.form-box{
    display: flex;
    flex-direction: column;
}


.form-input {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


.fogrot-password {
    padding-top: 0.8rem;
    position: relative;
    left: 4.2rem;
    color: #EE5C4D;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    padding-bottom: 4rem;
}

a{
    all: unset;
    cursor: pointer;
}

.login-btn {
    background-color: #EE5C4D;
    border: none;
    outline: none;
    padding: 0.3rem;
    border-radius: 6px;
}

.login-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    font-style: bold;
}

.errorMessage {
    display: flex;
    color: red;
    font-size: 16px;
    align-items: flex-start;
    font-family: Avenir, sans-serif;
}